<div class="block-section-sm box-list-area filter-content">
  <div class="box-list-wrapper">
    <div class="box-list">
      {% for item in "123456" %}
        {% include "jobzwo/_includes/_job_item.html" with url="job/123" title="IOS Applications Developer" company_name="Fast Company" location="San Francisco, California" description="Sed quis velit eleifend, vulputate lacus eu, porttitor leo. Nunc non urna quis eros vulputate…" created="8 months ago" contact_email="company@example.org" %}
      {% endfor %}
    </div><!-- .box-list -->
  </div><!-- .box-list-wrapper -->
</div><!-- .block-section-sm -->
