{% comment %}
url
title
description
location
company_name
contact_email
created
{% endcomment %}

<div class="item job-item job hentry">
  <div class="row">
    <div class="col-md-12">
      <h3 class="no-margin-top">
        <a class="" href="{{ job_url }}">{{ title }}
            <i class="fa fa-link color-white-mute font-1x"></i></a></h3>
      <h5>
        <a href="http://jobplanet.jegtheme.com/company/fast-company/"><span class="color-black">{{ company_name }}</span></a> 
            – <span class="color-white-mute">{{ location }}</span></h5>
      <p>{{ description }}</p>

      <div>
        <span class="color-white-mute">{{ created }}</span> – <!-- Login -->
         <a class="send-email btn btn-theme btn-xs btn-default" href="mailto:{{ contact_email }}">email</a>
      </div>
    </div>
  </div><!-- .row -->
</div><!-- .item.job-item.job.hentry -->

